.alump-dbar {
 height: 24px;
 display: inline-block;
 overflow-x: visible;
 white-space: nowrap;
}

.alump-dbar-uninitialized {
 color: red;
 background-color: white;
 font-weight: bold;
}

.alump-dbar-value {
 padding: 0px 5px 0px 12px;
}

.alump-dbar-left {
 display: inline-block;	
 min-width: 30px;
 text-align: left;
 padding: 5px 0px 5px 0px;
 height: 14px;
 vertical-align: middle;
 border-radius: 15px 0px 0px 15px;     
 transition: width 2s;
 -moz-transition: width 2s;
 -webkit-transition: width 2s;
 -o-transition: width 2s;
}

.alump-dbar-middle {
 display: inline-block;	
 min-width: 30px;
 text-align: left;
 padding: 5px 0px 5px 0px;
 height: 14px;
 vertical-align: middle;	
 transition: width 2s;
 -moz-transition: width 2s;
 -webkit-transition: width 2s;
 -o-transition: width 2s;
}

.alump-dbar-right {
 display: inline-block;
 min-width: 30px;
 text-align: left;
 padding: 5px 0px 5px 0px;
 height: 14px;
 vertical-align: middle;
 border-radius: 0px 15px 15px 0px;
 transition: width 2s;
 -moz-transition: width 2s;
 -webkit-transition: width 2s;
 -o-transition: width 2s;
}

.alump-dbar-only {
 display: inline-block;
 min-width: 30px;
 text-align: left;
 padding: 5px 0px 5px 0px;
 height: 14px;
 vertical-align: middle;
 border-radius: 15px 15px 15px 15px;
 transition: width 2s;
 -moz-transition: width 2s;
 -webkit-transition: width 2s;
 -o-transition: width 2s;
}

.alump-dbar-part-1 {
 background-color: #800000;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;
}

.alump-dbar-part-2 {
 background-color: #000080;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;
}

.alump-dbar-part-3 {
 background-color: #008000;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;	
}

.alump-dbar-part-4 {
 background-color: #808000;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;  
}

.alump-dbar-part-5 {
 background-color: #008080;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;  
}

.alump-dbar-part-6 {
 background-color: #800080;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;  
}

.alump-dbar-part-7 {
 background-color: black;
 color: white;
 text-shadow: 1px 1px 1px #000000, -0.5px -0.5px 0.5px #000000;  
}

.alump-dbar-part-8 {
 background-color: #ff4040;
 color: black;
 text-shadow: 1px 1px 1px #ffffff, -0.5px -0.5px 0.5px #ffffff;  
}

.alump-dbar-part-9 {
 background-color: #8080ff;
 color: black;
 text-shadow: 1px 1px 1px #ffffff, -0.5px -0.5px 0.5px #ffffff;  
}

.alump-dbar-part-10 {
 background-color: #40ff40;
 color: black;
 text-shadow: 1px 1px 1px #ffffff, -0.5px -0.5px 0.5px #ffffff;  
}

.alump-dbar-tooltip {
 font-family: sans-serif;
 font-size: 12px;
 position: absolute;
 background-color: #ffff80;
 color: black;
 z-index: 100;
 padding: 3px;
 box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);	
 -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
 -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);  
 transition: left 0.5s;
 -moz-transition: left 0.5s;
 -webkit-transition: left 0.5s;
 -o-transition: left 0.5s;
}